@{
    ViewBag.Title = "About";
}

<div class="main">
    <div class="about section" id="section-2">
        <div class="container">
            <div class="col-md-8 about_left">
                <h3>About Us</h3>
                <br />
                <h2 class="m_1">When  eastern legend meets  western unique</h2>
                <p class="m_2 text-capitalize">SV is a womenswear label dedicated to provide and create new wardrobe essentials incorporating ikat textiles from Central Asia.</p>
                <br />
                <h2 class="m_2">Legend</h2>
                <hr />
                <p class="m_2">Once upon time one of the rulers of Margilan (which was founded by Alexander the Great, and was an important stop on the Silk Road), decided to get married for the 5th time. His choice fell on a young lady - daughter of a poor weaver. The father felt upset and didn’t want to give his daughter in marriage to the king  and begged the monarch to cease his interest  in his daughter. The king promised that he would fulfill the  weaver’s wish only under one condition – the poor  were to create/invent something unusual and unique by the next morning that will make the king  forget the beauty of the young daughter.
                    Sore in mind and heart, the poor weaver sat on the bank of a river . All of a sudden he saw in the water the reflection of clouds, coloured in rainbow dyes after the rain.  “Oh dear sky, thank you for the idea” – he exclaimed and ran home to make the idea a reality.
                    By the morning, based on the silhouette he has seen in that reflection,  he weaved an extraordinary textile– light and airy like a cloud, cool like fresh mountain air and iridescent of all rainbow colours
                    The king was stunned by its magical beauty and  asked the weaver how he produced such a garment
                    The weaver responded: ‘I took green of foliage washed by rain, added colour of tulip-petals, blush of dusk, blue of night sky, the glare of the sun in the running water of the river, scintillation of the eyes of my beloved daughter, and mixed everything’. That textile was named  ‘han-atlas’ (the king’s silk) or ikat as it is known today , and the daughter was given in marriage to king’s son.  Silk ikat garments were the height of fashion in XIX century Uzbekistan and a symbol of wealth and status.</p>
                <br />
                <h2 class="m_2">Ikat</h2>
                <p class="m_2">Ikat, both unique print and technique, is the result of specific thread bounding during the dyeing process.
Only natural and eco friendly dyes are used when cloth is being made.</p>

            </div>
            <div class="col-md-4 about_right">
                <img src="~/Content/Template/images/about.png" alt="" />
            </div>
        </div>
    </div>
</div>