@{
    ViewBag.Title = "About";
}

<div class="main">
    <div class="about section" id="section-2">
        <div class="container">
            <div class="col-md-7 about_left">
                
                @*<h3>About Us</h3>*@
                <br />
                <h2><i>When eastern legend meets western unique</i></h2>
                <br />
                <p>Welcome to SV, a women’s fashion wear brand, where we go a little above mainstream styles and baseour values on innovation and uniqueness. We provide wardrobe essentials that are created using specificprint and fabric called ikat, brought all the way from Uzbekistan to you.</p>
                <p>As a woman, we know that you are appreciative of new styles and fashions. Especially for women whoare  into  exotic  designs  and  refreshing  fashion,  SV’s  clothing  is  made  for  you.  From  simple  stylesincorporating an Eastern essence to bold prints and fabric, SV and its ikat clothing has much to offer to you.</p>
                <br />
                <h2>What’s Ikat? </h2>
                <br />
                <p>Ikat is made in a unique print and fabric technique, that binds thread bundles tightly into a pattern andthen undergoes a thread dyeing process. Often, the bindings are changed after this process and dyedagain  to  create unique multicolored designs.  After  dyeing them,  the threads are removed from thebinding and knitted into cloth. The end result is a beautiful and unique fabric that can be created intodifferent fashions. Here at SV, we take special pride in bringing these fashions to you.</p>
                <br />
                <h2>Legend of Ikat</h2>
                <br />
                <p>Once upon time one of the rulers of Margilan (which was founded by Alexander the Great, and was animportant stop on the Silk Road), decided to get married for the 5th time. His choice fell on a young lady - daughter of a poor weaver. 
                    The father felt upset and didn’t want to give his daughter in marriage to theking and begged the monarch to cease his interest in his daughter. 
                    The king promised that he wouldfulfill the weaver’s wish only under one condition – the poor were to create something unusual andunique by the next morning that will make the king forget the beauty of the young daughter.Sore in mind and heart, the poor weaver sat on the bank of a river. All of a sudden he saw in the waterthe reflection of clouds, coloured in rainbow dyes after the rain. “Oh dear sky, thank you for the idea!”he exclaimed and ran home to make the idea a reality. By the morning, based on the silhouette he had seen in the reflection, he weaved an extraordinarytextile– light and airy like a cloud, cool like fresh mountain air and iridescent of all rainbow colours.
                
                    The weaver presented the textile to the king. He was stunned by its  magical  beauty and asked theweaver how he produced such a garment.The weaver responded, “I took green of foliage washed by rain, added colour of tulip-petals, blush ofdusk, blue of night sky, the glare of the sun in the running water of the river, scintillation of the eyes ofmy beloved daughter, and mixed everything. ”This textile was named ‘han-atlas’ (the king’s silk) or ikat as it is known today, and the daughter wasgiven in marriage to king’s son. Silk ikat garments were the height of fashion in XIX century Uzbekistanand a symbol of wealth and status.
                
                
                </p>
                <br />
            </div>
            <div class="col-md-5 about_right" style="border: none; max-width: 150%;">
                <img class="img-responsive" style="max-width: 150%;" src="~/Content/Template/images/IMG_4261_trans.png" alt="" />
            </div>
        </div>
    </div>
</div>